{% load active_link_tags %}
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            {% if user.user_type == '1' %}
            <ul>
                <li class="menu-title">
                    <span>Main Menu</span>
                </li>
                <li class="{% active_link 'hod_home' 'active' %}">
                    <a href="{% url 'hod_home' %}"><i class="fas fa-holly-berry"></i> <span>Dashboard</span></a>
                </li>

                <li class="submenu {% active_link 'add_semester' 'active' %} {% active_link 'view_semester' 'active' %}">
                    <a href="#"><i class="fas fa-user-clock"></i> <span> Semester</span> <span
                            class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url 'add_semester' %}">Add Semester</a></li>
                        <li><a href="{% url 'view_semester' %}">View Semester</a></li>
                    </ul>
                </li>

                <li class="submenu {% active_link 'add_department' 'active' %} {% active_link 'view_department' 'active' %}">
                    <a href="#"><i class="fas fa-building"></i> <span> Department</span> <span
                            class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url 'add_department' %}">Add Department</a></li>
                        <li><a href="{% url 'view_department' %}">View Department</a></li>
                    </ul>
                </li>

                <li class="submenu {% active_link 'add_student' 'active' %} {% active_link 'view_student' 'active' %}">
                    <a href="#"><i class="fas fa-user-graduate"></i> <span> Students</span> <span
                            class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url 'add_student' %}">Add Student</a></li>
                        <li><a href="{% url 'view_student' %}">View Student</a></li>
                    </ul>
                </li>
                <li class="submenu {% active_link 'add_staff' 'active' %} {% active_link 'view_staff' 'active' %}">
                    <a href="#"><i class="fas fa-chalkboard-teacher"></i> <span>Faculty</span> <span
                            class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url 'add_staff' %}">Add Faculty</a></li>
                        <li><a href="{% url 'view_staff' %}">View Faculty</a></li>
                    </ul>
                </li>

                <li class="submenu {% active_link 'add_faculty_designation' 'active' %} {% active_link 'view_faculty_designations' 'active' %}">
                    <a href="#"><i class="fas fa-clock"></i> <span>Faculty Designation</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url 'add_faculty_designation' %}">Add Faculty Designation</a></li>
                        <li><a href="{% url 'view_faculty_designations' %}">View Faculty Designations</a></li>
                    </ul>
                </li>

                <li class="submenu {% active_link 'add_course_v2' 'active' %} {% active_link 'view_course' 'active' %}">
                    <a href="#"><i class="fa fa-graduation-cap"></i> <span> CourseV2</span> <span
                            class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url 'add_course_v2' %}">Add CourseV2</a></li>
                        <li><a href="{% url 'view_course_v2' %}">View CourseV2</a></li>
                    </ul>
                </li>

                <li class="submenu {% active_link 'add_subject_v2' 'active' %} {% active_link 'view_subject_v2' 'active' %}">
                    <a href="#"><i class="fas fa-book-reader"></i> <span> SubjectsV2</span> <span
                            class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url 'add_subject_v2' %}">Add SubjectV2</a></li>
                        <li><a href="{% url 'view_subject_v2' %}">View SubjectV2</a></li>
                    </ul>
                </li>

                <li class="submenu {% active_link 'add_session_v2' 'active' %} {% active_link 'view_session_v2' 'active' %}">
                    <a href="#"><i class="fas fa-clock"></i> <span> SessionV2</span> <span
                            class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url 'add_session_v2' %}">Add SessionV2 </a></li>
                        <li><a href="{% url 'view_session_v2' %}">View SessionV2 </a></li>
                    </ul>
                </li>

                <li class="submenu {% active_link 'add_exam_type' 'active' %} {% active_link 'view_exam_types' 'active' %}">
                    <a href="#"><i class="fas fa-text-height"></i> <span> Exam Type</span> <span
                            class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url 'add_exam_type' %}">Add Exam Type</a></li>
                        <li><a href="{% url 'view_exam_types' %}">View Exam Types</a></li>
                    </ul>
                </li>

                <li class="submenu {% active_link 'add_subject_semester' 'active' %} {% active_link 'view_subject_semester' 'active' %}">
                    <a href="#"><i class="fas fa-clock"></i> <span> Subject & Semester</span> <span
                            class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url 'add_subject_semester' %}">Add Subject & Semester </a></li>
                        <li><a href="{% url 'view_subject_semester' %}">View Subject & Semester </a></li>
                    </ul>
                </li>

                <li class="submenu {% active_link 'add_faculty_subject_semester' 'active' %} {% active_link 'view_faculty_subject_semester' 'active' %}">
                    <a href="#"><i class="fas fa-clock"></i> <span>Faculty,Subject & Semester</span> <span
                            class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url 'add_faculty_subject_semester' %}">Add Faculty, Subject & Session </a></li>
                        <li><a href="{% url 'view_faculty_subject_semester' %}">View Faculty, Subject & Session </a></li>
                    </ul>
                </li>

                <li class="submenu {% active_link 'assign_exam_roles' 'active' %} {% active_link 'view_all_exam_roles' 'active' %}">
                    <a href="#"><i class="fas fa-clock"></i> <span>Exam Roles</span> <span
                            class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url 'assign_exam_roles' %}">Assign Exam Roles</a></li>
                        <li><a href="{% url 'view_all_exam_roles' %}">View All Exam Roles</a></li>
                    </ul>
                </li>
                <li class="{% active_link 'staff_send_notification' 'active' %}">
                    <a href="{% url 'staff_send_notification' %}"><i class="fa fa-bell"></i> <span> Send Staff Notification</span></a>
                </li>
                <li class="{% active_link 'student_send_notification' 'active' %}">
                    <a href="{% url 'student_send_notification' %}"><i class="fa fa-bell"></i> <span> Send Student Notification</span></a>
                </li>
                <li class="{% active_link 'staff_feedback_reply' 'active' %}">
                    <a href="{% url 'staff_feedback_reply' %}"><i class="fas fa-comments"></i>
                        <span> Staff Feedback</span></a>
                </li>
                <li class="{% active_link 'get_student_feedback' 'active' %}">
                    <a href="{% url 'get_student_feedback' %}"><i class="fas fa-comments"></i>
                        <span> Student Feedback</span></a>
                </li>
                <li class="{% active_link 'staff_leave_view' 'active' %}">
                    <a href="{% url 'staff_leave_view' %}"><i class="fas fa-envelope"></i> <span> Staff Leave</span></a>
                </li>
                <li class="{% active_link 'student_leave_view' 'active' %}">
                    <a href="{% url 'student_leave_view' %}"><i class="fas fa-envelope"></i> <span> Student Leave</span></a>
                </li>
                <li class="{% active_link 'logout' 'active' %}"><i class=""></i>
                    <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> <span> Logout</span></a>
                </li>
            </ul>
            {% elif user.user_type == '2'%}

            <ul>
                <li class="menu-title">
                    <span>Main Menu</span>
                </li>
                <li class="{% active_link 'hod_home' 'active' %}">
                    <a href="{% url 'hod_home' %}"><i class="fas fa-holly-berry"></i> <span>Dashboard</span></a>
                </li>
                <li class="{% active_link 'staff_take_attendance' 'active' %}">
                    <a href="{% url 'staff_take_attendance' %}"><i class="fas fa-calendar-alt"></i> <span>Take Attendance</span></a>
                </li>

                <li class="submenu {% active_link 'staff_add_question_paper' 'active' %} {% active_link 'staff_view_all_question_papers' 'active' %}">
                    <a href="#"><i class="fas fa-clock"></i> <span>Question Paper</span> <span
                            class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url 'staff_add_question_paper' %}">Add Question Paper</a></li>
                        <li><a href="{% url 'staff_view_all_question_papers' %}">View All Question Papers</a></li>
                    </ul>
                </li>

                <li class="submenu {% active_link 'staff_add_question_paper' 'active' %} {% active_link 'staff_view_all_question_papers' 'active' %}">
                    <a href="#"><i class="fas fa-clock"></i> <span>Examination Roles</span> <span
                            class="menu-arrow"></span></a>
                    <ul>
                        <!--replace url to staff_setter under this  comment-->
                        <li><a href="{% url 'staff_setter' %}">Question Paper Setter</a></li>
                        <!--replace url to staff_moderator under this  comment-->
                        <li><a href="{% url 'staff_moderator' %}">Question Papers Moderator</a></li>
                        <!--replace url to staff_examiner under this  comment-->
                        <li><a href="{% url 'staff_examiner' %}">Question Papers Examiner</a></li>
                        <!--replace url to staff_scrutinizer under this  comment-->
                        <li><a href="{% url 'staff_scrutinizer' %}">Question Papers Scrutinizer</a></li>
                        <!--replace url to staff_head_scrutinizer under this  comment-->
                        <li><a href="{% url 'staff_head_examiner' %}">Question Papers Head Examiner</a></li>
                    </ul>
                </li>


                <li class="{% active_link 'view_my_exam_roles' 'active' %}">
                    <a href="{% url 'view_my_exam_roles' %}"><i class="fa fa-bell"></i>
                        <span> View My Exam Roles</span></a>
                </li>

                <li class="{% active_link 'staff_add_result' 'active' %}">
                    <a href="{% url 'staff_add_result' %}"><i class="fas fa-poll-h"></i> <span>Add Result</span></a>
                </li>
                <li class="{% active_link 'staff_apply_leave' 'active' %}">
                    <a href="{% url 'staff_apply_leave' %}"><i class="fas fa-envelope-open"></i>
                        <span>Apply For Leave</span></a>
                </li>
                <li class="{% active_link 'staff_feedback' 'active' %}">
                    <a href="{% url 'staff_feedback' %}"><i class="fas fa-comment"></i> <span>Send Feedback</span></a>
                </li>
                <li class="{% active_link 'logout' 'active' %}"><i class=""></i>
                    <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> <span> Logout</span></a>
                </li>
            </ul>

            {% else %}
            <ul>
                <li class="menu-title">
                    <span>Main Menu</span>
                </li>
                <li class="{% active_link 'student_home' 'active' %}">
                    <a href="{% url 'student_home' %}"><i class="fas fa-holly-berry"></i> <span>Dashboard</span></a>
                </li>
                <li class="{% active_link 'student_view_attendance' 'active' %}">
                    <a href="{% url 'student_view_attendance' %}"><i class="fas fa-calendar-alt"></i> <span>View Attendance</span></a>
                </li>
                <li class="{% active_link 'view_result' 'active' %}">
                    <a href="{% url 'view_result' %}"><i class="fa fa-poll"
                                                         aria-hidden="true"></i><span>View Result</span></a>
                </li>


                <li class="{% active_link 'student_leave' 'active' %}">
                    <a href="{% url 'student_leave' %}"><i class="fa fa-pray" aria-hidden="true"></i><span>Apply For Leave</span></a>
                </li>
                <li class="{% active_link 'student_feedback' 'active' %}">
                    <a href="{% url 'student_feedback' %}"><i class="fas fa-comment" aria-hidden="true"></i><span>Send Feedback</span></a>
                </li>
                <li class="{% active_link 'student_notification' 'active' %}">
                    <a href="{% url 'student_notification' %}"><i class="fas fa-bell" aria-hidden="true"></i><span>Notifications</span></a>
                </li>
                <li class="{% active_link 'logout' 'active' %}">
                    <a href="{% url 'logout' %}"><i class="fa fa-calendar"
                                                    aria-hidden="true"></i><span>Logout</span></a>
                </li>

            </ul>


            {% endif %}
        </div>
    </div>
</div>
