{% extends 'base.html' %}
{% block content %}

<div class="content container-fluid">
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">View Question Paper</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="subjects.html">Question Paper</a></li>
                    <li class="breadcrumb-item active">View Question Paper</li>
                </ul>
            </div>
        </div>
    </div>
    {% include 'includes/messages.html' %}

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">

                    <form action="review_question_paper" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <h5 class="form-title"><span>Question Paper Details</span></h5>
                            </div>

                            <div class="col-12 col-sm-6">
                                <label>Subject</label>
                                <input type="text" class="form-control" name="subject_name"
                                       value="{{ question_paper.subject_id.name }}" disabled readonly>
                            </div>

                            <div class="col-12 col-sm-6">
                                <label>Session Year</label>
                                <input type="text" class="form-control" name="session_year"
                                       value="{{question_paper.session_year_id.session_start}}  ||  {{question_paper.session_year_id.session_end}}"
                                       disabled readonly>
                            </div>

                            <div class="col-12 col-sm-6 mt-4">
                                <label>Reviewer</label>
                                <input type="text" class="form-control" name="question_paper_reviewer"
                                       value="{{question_paper.reviewer_staff_id.admin.first_name}}&nbsp;{{question_paper.reviewer_staff_id.admin.last_name}}"
                                       disabled readonly>
                            </div>

                            <div class="col-12 col-sm-6 mt-5">
                                <div class="form-group">
                                    <label>Question Paper</label> <br>
                                    <a href="{% url 'staff_view_question_paper_pdf' id=question_paper.id %}"
                                       target="_blank">Approved Question Paper</a>
                                    <small class="form-text text-muted">Click the above link to view Approved Question Paper.</small>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>


{% endblock %}