{% extends 'base.html' %}
{% block content %}

<div class="content container-fluid">
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Add SessionV2</h3>

            </div>
        </div>
    </div>
    {% include 'includes/messages.html' %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form action="{% url 'add_session_v2' %}" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <h5 class="form-title"><span>Session Information</span></h5>
                            </div>


                            <br>
                            <div class="col-11 col-sm-6">
                                <div class="form-group">
                                    <label>Session Year Start</label>
                                    <div>
                                        <input type="date" class="form-control" name="session_start">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Session Year End</label>
                                    <div>
                                        <input type="date" class="form-control" name="session_end">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <label>Course</label>
                                <select class="form-control" name="course_v2" required>
                                    <option disabled selected>Select Course</option>
                                    {% for i in course %}
                                    <option value="{{i.id}}">{{i.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <br>
                            <div class="col-12 mt-4">
                                <button type="submit" class="btn btn-primary">Add Session</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}