{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="content container-fluid">
   <div class="page-header">
      <div class="row align-items-center">
         <div class="col">
            <h3 class="page-title">View all Exam Roles</h3>
            <ul class="breadcrumb">
               <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
               <li class="breadcrumb-item active">Examination</li>
            </ul>
         </div>
         <div class="col-auto text-right float-right ml-auto">
<!--            <a href="#" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i> Download</a>-->
<!--            <a href="add-student.html" class="btn btn-primary"><i class="fas fa-plus"></i></a>-->
         </div>
      </div>
   </div>
   {% include 'includes/messages.html' %}
   <div class="row">
      <div class="col-sm-12">
         <div class="card card-table">
            <div class="card-body">
               <div class="table-responsive">
                  <table id="table_id" class="table table-hover table-center mb-0">
                     <thead>
                        <tr>
                           <th>Subject Code</th>
                           <th>Subject Name</th>
                           <th>Department</th>
                           <th>Semester</th>
                           <th>Session Start</th>
                           <th>Session End</th>
                           <th>Exam Type</th>
                           <th>Setter</th>
                           <th>Moderator</th>
                           <th>Examiner</th>
                           <th>Scrutinizer</th>
                           <th>Head Examiner</th>
                           <th>Total Marks</th>
                        </tr>
                     </thead>
                     <tbody>
                        {% for i in exams %}
                        <tr>
                           <td>{{i.subjectSemester.subject.code}}</td>
                           <td>{{i.subjectSemester.subject.name}}</td>
                           <td>{{i.subjectSemester.department.name}}</td>
                           <td>{{i.subjectSemester.semester.name}}</td>
                           <td>{{i.subjectSemester.session.session_start}}</td>
                           <td>{{i.subjectSemester.session.session_end}}</td>
                           <td>{{i.exam_type.name}}</td>
                           <td>{{i.paper_setter_faculty.admin.first_name}} {{i.paper_setter_faculty.admin.last_name}}</td>
                           <td>{{i.moderator_faculty.admin.first_name}} {{i.moderator_faculty.admin.last_name}}</td>
                           <td>{{i.examiner_faculty.admin.first_name}} {{i.examiner_faculty.admin.last_name}}</td>
                           <td>{{i.scrutinizer_faculty.admin.first_name}} {{i.scrutinizer_faculty.admin.last_name}}</td>
                           <td>{{i.head_examiner_faculty.admin.first_name}} {{i.head_examiner_faculty.admin.last_name}}</td>
                           <td>{{i.marks_total}}</td>
                        </tr>
                        {% endfor %}
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}